# Arquivos compilados
target/
*.class

# Arquivos de IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Arquivos de log
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de configuração local
credentials.json 
masteruser.json

# Ignorar arquivo de propriedades que contém informações sensíveis do banco de dados
src/main/resources/application.properties 